@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --accent: #11113c;
    --background: #09091d;
    --text: #fff;
    --link: #1e90ff;
    --underline: #82c0fd;
}

body {
    background: var(--background);
    font-family: 'Oswald', sans-serif;
    color: var(--text);
    text-align: center;
}

a {
    transition: all 0.3s ease-in-out;
    display: inline-block;
    color: var(--link);
    text-decoration-color: var(--underline);
}

a:hover {
    transition: all 0.3s ease-in-out;
    display: inline-block;
    text-decoration: none;
    transform: scale(1.25);
    transform-origin: center;
    color: var(--underline);
}